body {
	
    color: rgb(255, 255, 255);
    background-color: rgb(222,222,222);

}


#container {
	width: 1100px;
	margin: auto;
	position: relative;
	
}

#header {
	background-color:rgba(255, 255, 255,1);
	width: 100%;
	margin: auto;
    border-radius: 7px;
    
	
	
}

#content {
	width: 1045px;
	position: relative;
	margin-top: 20px;
	margin-right: 0px;
	background-color:rgba(255, 255, 255,1);
	height: 100%;
	padding-left: 55px;
	border-radius: 7px;
	color: black;
}

#nav {
    position: relative;
	list-style: none;
	width: 1100px;
	float: center;
	background-color:rgba(255, 255, 255,1);
	height: 50px;
	
	top:0px;
    font-family: "ethnocentric rg";
    border-radius: 7px;
	

}

#main {
	width: 746px;
	float:left;
	background-color:rgba(255, 255, 255, 1);
	color: black;
	text-align: left;
	font-family: "ethnocentric rg";
	border-radius: 7px;
    padding-left: 54px;
}

#footer {
	background-color:rgba(255, 255, 255,1);
	color: black;
	text-align: right;
	width: 100%;
	position: relative;
    border-radius: 7px;
}
@font-face {
    font-family: "My Custom Font";
    src: url("ethnocentric rg.ttf") format("truetype");
}

    


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li  {
    text-align: center;
    line-height: 50px;
    padding: 0;
    width: 33.33%;
    height: 50px;
    display: inline-block;
    transition: 500ms ease-in-out;
    font-family: "Trebuchet MS";
    border-radius: 7px;
    color: rgb(50, 50, 50);
    font-weight: bold;
}

li:hover {
    background: rgb(100, 100, 100);
    color: white;
    font-weight: bold;
}

liselect {
    text-align: center;
    line-height: 50px;
    padding: 0;
    width: 33.3%;
    height: 50px;
    display: inline-block;
    background-color: rgb(100, 100, 100); 
    color: white;
    font-family: "Trebuchet MS";
    font-weight: bold;
    border-radius: 7px;
}

.shadow{
    box-shadow: 0px 10px 10px rgba(100, 100, 100,0.5), 10px 0px 10px rgba(100, 100, 100,0.5), -10px 0px 10px rgba(100, 100, 100,0.5);

}

	
	
	

p{
	padding: 10px;
    color: rgb(50, 50, 50);
    
}
s1{
	font-weight: Bold;
	
}





h1 , h {
    text-align: center;
	font-size: 28px; 
    
}

p{
 font-family: "Trebuchet MS";   
}





h2 {
    float: left;
    font-family: "Trebuchet MS";
    color: black;
}

h3 {
    float: left;
    font-family: "Trebuchet MS";
}


a {
    text-decoration: none;
    
    
}

a:visited {
    color:rgb(0, 0, 0); background-color:transparent; text-decoration:none
}

input {
    
}



form {
    font-family: "Trebuchet MS";
}

span {
   font-family:"Trebuchet MS";
}

h4 {
    font-size: 20px;
    color: rgb(50, 50, 50);
   
}
